/* https://www.w3schools.com/tags/ref_attributes.asp */

/*-------- MOBILE - PADRÃO */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/*------------------------------------- CORES */
.container-amostras-cor {
    display: flex; 
    flex-flow: row nowrap;
}
.quadrado-amostra-cor {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

/* COR 1 */
.cor1 {color: #75d19e;}
.bgcor1 {background-color: #75d19e;}

/* COR 2 */
.cor2 {color: #8297dd;}
.bgcor2 {background-color: #8297dd;}

/* COR 3 */
.cor3 {color: #a375d8;}
.bgcor3 {background-color: #a375d8;}

/*------------------------------------- TEXTOS*/
h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
    font-family: "Roboto";
    font-style: normal;
    /* align-items: center;
    text-align: center; */
}

.texto-g {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.texto-m {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.texto-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

/*------------------------------------- CONTAINERS*/
body {
    padding: 1vw;
}

nav {}

div {}

.container {}


/*------------------------------------- LINKS E BOTÕES*/

a {
    padding: 16px 0;
    margin: 16px;
}
a:hover {}

.botao-sem-frescura {
    padding: 16px 32px;
    margin: 16px;
    display: block;

    color:#000000;
	font-family:Arial;
	font-size:26px;
	text-decoration:none;
	text-shadow:0px 2px 0px #808080;

    background-color: transparent;
    box-shadow: 0px 4px 0px 0px #808080, inset 0px 4px 0px 0px #808080, 0 4px 10px 0 #a3a3a3, inset 0 4px 10px 0 #a3a3a3;
	border-radius: 40px;
	border: 4px solid #000000;
	/*display: inline-block;*/
	cursor: pointer;
}

.botao-sem-frescura:active {
    text-shadow:0px 0px 0px;
    box-shadow: 
        0px 0px 0px 0px, 
        inset 0px 0px 0px 0px, 
        0 2px 8px 0 #888888, 
        inset 0 2px 8px 0 #888888;
    position:relative;
    top: 3px;
}





/*------------------------------------- CURSORES*/
.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.col-resize {cursor: col-resize;}
.context-menu {cursor: context-menu;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

/*----------------------------------------------------------------- TABLET */
@media screen and (min-width: 699px) {
/* tags, casses e ids aqui */


}

/*----------------------------------------------------------------- PC */
@media screen and (min-width: 899px) {
/* tags, casses e ids aqui */


}